body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background-color: #F7F7F8;
    color: #45474B;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.header h1 a {
    font-family: system-ui;
    margin: 0;
    font-size: 36;
    text-decoration: none;
    color: inherit; /* Keeps the original text color */
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation-menu a {
    text-decoration: none;
    color: #3C3D37;
    padding: 15px 20px;
    background-color: #f0f0f0;
    border-radius: 2px;
    text-align: center;
}

.navigation-menu a:hover {
    background-color: #DDDDDD;
}

.contact-menu {
    /* display: flex; */
    flex: 1;
    gap: 10px;
}

.contact-menu a {
    text-decoration: none;
    color: #3C3D37;
    padding: 15px 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 2px;
    font-size: 18px;
    text-align: right;
}

.icon i {
    font-size: 20px; /* Increase the font size to zoom in */
}

.contact-menu a:hover {
    background-color: #DDDDDD;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 1px solid #cbc9c9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
}

.profile-pic {
    width: 400px;
    height: auto;
    margin-right: 20px;
    border-radius: 0%; /* Optional: Make the image circular */
}

.about-container p {
    flex: 1;
    margin: 10px 0;
    padding: 5px;
    float: table-row;
}

.contact-container {
    display: flex;
    align-items: center;
}

footer {
    background-color: #EEEEEE;
    color: #8e8e8e;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* cv */
.indented-item {
    padding-left: 20px;
}